<nav>
    <div class="nav-wrapper">
        <a href="{% url 'alumnos:index' %}" class="brand-logo">Alumnos</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="{% url 'alumnos:alumnos_list' %}">Gestión</a></li>
            <li><a href="{% url 'alumnos:alumnos_lista_completa' %}">Listado</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a href="{% url 'alumnos:alumnos_list' %}">Gestión</a></li>
    <li><a href="{% url 'alumnos:alumnos_lista_completa' %}">Listado</a></li>
</ul>